@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@import "tailwindcss";

/* الألوان المخصصة - Tailwind v4 */
@theme {
  --color-primary: #1E40AF;
  --color-secondary: #009688;
  --color-accent: #10B981;
  --color-success: #198754;
  --color-warning: #FFC107;
  --color-danger: #DC3545;
  --color-brandBlue: #1A73E8;
}

